.parentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.window {
  position: absolute;
  z-index: 10;
}

.desktopGrid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  height: calc(100vh - 40px); /* Adjust based on your taskbar height */
  width: 100%;
  padding: 20px;
  overflow: hidden;
}

.desktopIcon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  margin-right: 20px; /* Increased spacing between columns */
}

@media (max-width: 768px) {
  .desktopGrid {
    align-content: center;
  }
}